/*button*/
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*footer*/

#footer {
    padding: 7em 0;
    clear: both;
}
#footer {
    background: #efefef;
}
#footer .footer-links {
    padding: 0;
    margin: 0;
}
#footer .footer-links li {
    padding: 0;
    margin: 0;
    list-style: none;
}
#footer .footer-links li a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
#footer .footer-links li a:hover {
    text-decoration: underline;
}
#footer .widget {
    margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
    #footer .widget {
        text-align: left;
    }
}
#footer .widget h3 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
#footer .copyright .block {
    display: block;
}

.social-icons {
    margin: 0;
    padding: 0;
}
.social-icons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.social-icons li a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    color: #EA9215;
    padding-left: 10px;
    padding-right: 10px;
}
.social-icons li a i {
    font-size: 20px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}

.row-pb-md {
    padding-bottom: 4em !important;
}

.row-pb-sm {
    padding-bottom: 2em !important;
}


